            <tr>
              <td
                style="
                  padding: 24px;
                  text-align: center;
                  background-color: #f9fafb;
                "
              >
                <p
                  style="
                    color: #6b7280;
                    font-size: 14px;
                    margin: 0;
                  "
                >
                  © 2026 OpenProfile. All rights reserved.
                </p>
              </td>
            </tr>

          </table>
        </td>
      </tr>
    </table>
  </body>
</html>